{% extends 'website/base.html' %}
{% load static %}
{% block title %}
  PRODUCT PHONES
{% endblock %}

{% block content %}


      <!-- SITE BLOG STARTS HERE -->
      <h1>2 Products In Phone Category</h1>
     
           <div class="row">
              {% if AllPhones %}
        {% for m in AllPhones %}
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{{ m.img_url1 }}">
          </div>
          <div class="blog-content">
             <p>
              Time:8:30am, Category:<a href="sport.html">Phones.</a>. 
              Posted By: <a href="#">Alabi</a>.
              
            </p>
            <h2>Phone 1</h2>
            <h2>Prize: &#8358; {{ m.prize }} </h2>
            <p>
             {{m.product_description }}
            </p>
            <a href="product-detail.html" class="btn btn-success">Readmore</a>
          </div>
        </div> 
         {% endfor %}
      {% endif %}
      </div>
       
     
      <!-- END OF BLOG ROW 1 -->
     
     
      <!-- SITE BLOG ENDS HERE -->
    </div>
    <!-- END OF MAIN CONTENT -->
    

{% endblock %} 