{% extends 'website/base.html' %}
{% load static %}
{% block title %}
laptops
{% endblock %}

{% block content %}


      <!-- SITE BLOG STARTS HERE -->
      <h1>{{ numOflaptop }} Products In Laptop Category</h1>
      <div class="row">
        {% if laptops %}
          {% for n in laptops %}
            <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{{ n.latest_img_url1 }}">
          </div>
          <div class="blog-content">
             <p>
              Time:8:30am, Category:<a href="sport.html">laptops.</a>. 
              Posted By: <a href="#">{{ n.agent_id }}</a>.
              
            </p>
            <h2>{{ n.latest_prize }}</h2>
            <h2>Prize: &#8358; {{ n.latest_prize }} </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse harum perferendis, dolorum dicta non, eos. Aliquid voluptate qui quo! Omnis ex modi expedita natus et eum aut excepturi facere!
            </p>
            <a href="product-detail.html" class="btn btn-success">Readmore</a>
          </div>
            </div>  
          {% endfor %}
        {% endif %}

       
      </div>
      <!-- END OF BLOG ROW 1 -->
     
     
      <!-- SITE BLOG ENDS HERE -->
    </div>
    <!-- END OF MAIN CONTENT -->

{% endblock %}