{% extends 'backend_website/base.html' %}
{% load static %}

{% block title %}
Admin
{% endblock %}

{% block content %}
<div class="col-sm-9" id="admin-main-content">
          <div class="col-sm-4">
           <div class="inner-box">
             <a href=""> 
              <i class="fa fa-users"></i> 
              <span>10</span>
              <h4> Posts</h4>
             </a>
           </div>
          </div> 
          <div class="col-sm-4">
           <div class="inner-box">
             <a href=""> 
              <i class="fa fa-male"></i> 
               <span>5</span>
               <h4> Categories</h4>
               <span class="little-text"></span>
             </a>
           </div>
          </div> 
          <div class="col-sm-4">
           <div class="inner-box">
             <a href=""> 
              <i class="fa fa-users"></i> 
              <span>15</span>
              <h4>Users</h4>
              <span class="little-text">Subscribers</span>
             </a>
           </div>
          </div>
        </div>
      </div>

    </div>

{% endblock %}