{% extends 'backend_website/base.html' %}
{% load static %}

{% block title %}
Admin
{% endblock %}

{% block content %}

  <body id="admin">
    <div class="container-fluid">
        <div class="col-sm-9" id="admin-main-content">
          <div class="row">
            <div class="col-md-12 bg-white">
               <h3>View Products</h3>
               <table class="table table-bordered">
                 <tr>
                   <th>Product Name</th>
                   <th>Product Prize</th>
                   <th>Discount Prize</th>
                   <th>Product Category</th>
                   <th>Uploaded By</th>
                   <th>Product Description</th>
                   <th colspan="3">Action</th>
                 </tr>
                 <tr>
                    <td>LG Nexius</td>
                    <td>&#8358; 65,000</td>
                    <td>&#8358; 50,000</td>
                    <td>Phones</td>
                    <td>Alabi</td>
                    <td>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. nemo?
                    </td>
                    <td>
                      <a href="#">
                        <span class="fa fa-pencil"></span>
                        Edit
                      </a>
                   </td>
                    <td>
                      <a href="#">
                        <span class="fa fa-eye"></span>
                        View
                      </a>
                   </td>
                   <td>
                     <a href="#">
                       <span class="fa fa-trash"></span>
                       Delete
                     </a>
                   </td>
                   
                 </tr>
                 <tr>
                    <td>LG Nexius</td>
                    <td>&#8358; 65,000</td>
                    <td>&#8358; 50,000</td>
                    <td>Phones</td>
                    <td>Alabi</td>
                    <td>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. nemo?
                    </td>
                    <td>
                      <a href="#">
                        <span class="fa fa-pencil"></span>
                        Edit
                      </a>
                   </td>
                    <td>
                      <a href="#">
                        <span class="fa fa-eye"></span>
                        View
                      </a>
                   </td>
                   <td>
                     <a href="#">
                       <span class="fa fa-trash"></span>
                       Delete
                     </a>
                   </td>
                   
                 </tr><tr>
                    <td>LG Nexius</td>
                    <td>&#8358; 65,000</td>
                    <td>&#8358; 50,000</td>
                    <td>Phones</td>
                    <td>Alabi</td>
                    <td>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. nemo?
                    </td>
                    <td>
                      <a href="#">
                        <span class="fa fa-pencil"></span>
                        Edit
                      </a>
                   </td>
                    <td>
                      <a href="#">
                        <span class="fa fa-eye"></span>
                        View
                      </a>
                   </td>
                   <td>
                     <a href="#">
                       <span class="fa fa-trash"></span>
                       Delete
                     </a>
                   </td>
                   
                 </tr><tr>
                    <td>LG Nexius</td>
                    <td>&#8358; 65,000</td>
                    <td>&#8358; 50,000</td>
                    <td>Phones</td>
                    <td>Alabi</td>
                    <td>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. nemo?
                    </td>
                    <td>
                      <a href="#">
                        <span class="fa fa-pencil"></span>
                        Edit
                      </a>
                   </td>
                    <td>
                      <a href="#">
                        <span class="fa fa-eye"></span>
                        View
                      </a>
                   </td>
                   <td>
                     <a href="#">
                       <span class="fa fa-trash"></span>
                       Delete
                     </a>
                   </td>
                   
                 </tr><tr>
                    <td>LG Nexius</td>
                    <td>&#8358; 65,000</td>
                    <td>&#8358; 50,000</td>
                    <td>Phones</td>
                    <td>Alabi</td>
                    <td>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. nemo?
                    </td>
                    <td>
                      <a href="#">
                        <span class="fa fa-pencil"></span>
                        Edit
                      </a>
                   </td>
                    <td>
                      <a href="#">
                        <span class="fa fa-eye"></span>
                        View
                      </a>
                   </td>
                   <td>
                     <a href="#">
                       <span class="fa fa-trash"></span>
                       Delete
                     </a>
                   </td>
                   
                 </tr>
               </table>
            </div>
          </div>         
        </div>
      </div>

    </div>

{% endblock %}